.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  background-color: var(--color-background-light-1);
  overflow: hidden;
  border-radius: 1rem;
  width: 27rem;
  transition: all 300ms;
}

.book-image {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  cursor: pointer;
  border-radius: 1rem;
  transition: all 300ms;
}

.book-image:hover {
  scale: 1.05;
}

.book-name {
  margin-top: 10px;
  font-size: 2.2rem;
  color: var(--color-primary);
  font-weight: 600;
  text-align: center;
  flex: 1;
}

.delete-btn {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.6rem;
  transition: all 300ms;
  letter-spacing: 0.1rem;
}

.delete-btn:hover {
  background-color: var(--color-secondary-light-1);
}

.book-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.book-popup-content {
  background-color: var(--color-background);
  padding: 20px;
  max-width: 500px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
}

.book-popup-details {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 1rem;
  color: var(--color-primary-light-2);
}

.book-popup-title {
  font-weight: 600;
  color: var(--color-primary);
}

.book-popup-name {
  margin: 0;
  color: var(--color-primary);
}

.book-popup-image {
  width: 20rem;
}

.close-btn {
  background-color: var(--color-primary);
  color: var(--color-background);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.6rem;
  transition: all 300ms;
  letter-spacing: 0.1rem;
}

.close-btn:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}
